<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head"></th:block>
    <title>Best Songs</title>
</head>
<body>
<th:block th:replace="fragments :: header('song')"></th:block>
<div class="text-center border m-5">

<h1>Best Songs</h1>
<ul class="list-group">
    <li th:each="song : ${listSongs}" class="list-group-item"> <a th:href="@{|/songs/${song.getId()}|}">[[${song.getTitle()}]]</a> </li>
    <li class="list-group-item"><a th:href="@{/home}">Home</a></li>
</ul>

</div>
</body>
</html>